.viewport {
	width:960px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;

}

h1 {
	font-size: 54px;
	color: #ff5e01;
	font-weight: 700;
	font-family: 'Droid Sans', sans-serif;
	line-height: 1em;
	margin-bottom: -30px;
	padding-top: 20px;
}

h2 {
	font-size: 34px;
	font-weight: 400;
	font-family: 'Droid Sans', sans-serif;
}

.text {
	font-size: 14px;
	font-family: 'Droid Sans', sans-serif;
	color: #bfbfbf;
	width: 100%;
	text-align: left;
}

.login {
	text-align: left;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#info {
	color: black;
	font-weight: 700;
}

.time {
	width: 960px;
	text-align: center;
	margin-bottom: 30px;
}

input[type="text"] {
	margin-top: 50px;
	width: 100%;
	height: 46px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 20px;
}

input[name="user"] {
	width: 49%;
	height: 46px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 20px;
	margin-bottom: 10px;
}

input[name="pw"] {
	width: 49%;
	height: 46px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 20px;
}

.log_button {
	width:100%;
	height: 46px;
}

.button {
	margin-top: 10px;
	margin-bottom: 50px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family: 'Droid Sans', sans-serif;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:46px;
	line-height:46px;
	width:300px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}.button:active {
	position:relative;
	top:1px;
}